@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color: #478ac9;
    --text-color: #171442;
    --bg-color:#478ac9;
    --base-color: #f0f0f0;

}

.form-container{
    margin-left: 36.5%;
    margin-right:36.5%;
    width: 100%;
    display: block;
    text-align: center;
    gap: 2rem;
    color: var(--text-color);
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 16px 32px;
    align-items: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.form-fill {
    position: center;
    text-align: center;

    max-width:500px;
    padding:16px;
    border-color: var(--main-color);
    border-style: solid ;
    border-radius: 4px;
}
.form-container .text{
     box-sizing: border-box;
     display: block;
     width: 100%;
     border: 3px solid currentColor;
     padding: calc(var(--main-color) * 1.5) var(--bg-color);
     color: currentColor;
     background: transparent;
    border-radius: 20px;


}
.drop-zone{
    width: auto;
    height: 450px;
    border: 2px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.drop-zone img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: none;
}

.image-drag-and-drop {
    background-color: var(--base-color);
    align-content: center;
    border: #86939E 5px dashed;
    width: auto;
    height: auto;
    margin: auto;

}
#drop-text{

}
#upload_button{
    position: center;
}
input[type=text] {
    transition: width 0.4s ease-in-out;

}

input[type=text]:focus {
    width: auto;
}
input[type=text].ng-invalid {
    background-color:pink;
}
input[type=text].ng-invalid {
    background-color:lightgreen;
}