body *{
 
    color: #000000;
    font-family: Roboto,STHeiti,Verdana,Arial,Microsoft JhengHei,微軟正黑體,黑體-繁,新細明體,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow-x: hidden;
}
.header {
    position: relative;
    background: #36f1b9;
    box-shadow: 0 3px 5px 0 rgba(22, 65, 207, 0.15);
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 9999;
}
.stickyheader {
    align-items: center;
    
}
body header .header {
    overflow: hidden;
    padding: 0 20px;
}
body header .header .shopping-cart {
    height: 20px;
}
body header .header .logo {
    display: flex;
    align-items: center;
    height: 70px;
    margin-right: auto;

}

body main .content .store{
    background: #def136;
}

.wrap {
    display: flex;
    width: 200px;
}
.sibling{
width: 100%;
border: 1px solid yellow;
display: inline-block;
/* flex:1; */
}
.inline{
width: 15%;
display: inline-table;
flex: 1
}
